

.wizard,.wizard1 {
    /*margin: 20px auto;
    background: #fff;
    min-height: 550px;*/
    margin: 20px auto;
    background: #fff;
    min-height: 550px;
    border: 1px solid #e0e0e0;
    padding: 20px 40px;
    border-radius: 5px;
}

.wizard .nav-tabs,.wizard1 .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #ffffff;
    display: flex;
    width: 80%;
    margin-top: 0;
}

.wizard > div.wizard-inner,.wizard1 > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus,.wizard1 .nav-tabs > li.active > a, .wizard1 .nav-tabs > li.active > a:hover, .wizard1 .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
/*    width: 15px;
    height: 15px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;*/
    width: 30px;
    height: 15px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: -10px;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
h6.stepname {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 80%;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    opacity: 1;
    color: #b7b7b7;
}
.wizard li.active h6.stepname {
    color: #6ba1ff;
    opacity: 1;
}
.wizard li.active span.round-tab,.wizard1 li.active span.round-tab {
    background: #6ba1ff;
    border: 2px solid #6ba1ff;
    
}
.wizard li.active span.round-tab i,.wizard1 li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li,.wizard1 .nav-tabs > li {
    width: 25%; /*width: 105px;*/
}

.wizard li:after,.wizard1 li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

/*.wizard li.active:after,.wizard1 li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}
*/
.wizard .nav-tabs > li a,.wizard1 .nav-tabs > li a {
    width: 15px;
    height: 15px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover,.wizard1 .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane,.wizard1 .tab-pane {
    position: relative;
}

.wizard h3,.wizard1 h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.wizard .tab-content {
    margin-top: 70px;
}


.wizard .form-group {
    color: #5e4e4e;
    float: left;
    width: 100%;
}

.wizard label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #909090;
}

.nice-select {
    min-width: 100%;
    width: 100%;
}


.wizard .checkbox label {
    font-weight: 500;
}
.wizard input[type="checkbox"],.wizard input[type="radio"] {
    display: none;
}

.wizard .radio, .wizard .checkbox {
    display: inline-block;
    min-height: 20px;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
}

.wizard .checkbox.checkBlock{ display: block; }
.wizard .radio label, .wizard .checkbox label{
    color: #000;    /*font-size: 15px;*/
}
/*Radio button*/
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
    top: 0em;
    margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;

    background: #ffffff;
    border-radius: 100%;
    border: 1px solid #6ba1ff;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;    background-color: #6ba1ff
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

/*Check box*/

.checkbox input[type="radio"] + .checkbox-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.checkbox input[type="radio"]:checked + .checkbox-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.checkbox input[type="radio"]:focus + .checkbox-label:before {
  outline: none;
  border-color: #3197EE;
}
.checkbox input[type="radio"]:disabled + .checkbox-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.checkbox input[type="radio"] + .checkbox-label:empty:before {
  margin-right: 0;
}